{% extends 'base.html' %}

{% block personalizzato %}
<style type="text/css">
a,
a:hover,
a:link {
	color: #999999;
}
h1 {
	font-family: 'Fjalla One', sans-serif;
}
</style>
{% endblock %}

{% block content %}
{% load carton_tags %}


<div id="page-content-wrapper" style="padding-right:0px;">

	{% include 'components/avvisi.html' %}
	<form class="white-row" action="{% url 'add-order' %}" method="POST">{% csrf_token %}



	<div class="col-sm-12">
		<h1 class="text-center">
			{% if session_language = 'en' %}
			Your Cart
			{% else %}
			Il Tuo Carrello
			{% endif %}
		</h1>

		{% get_cart as cart %}

	    <table class="table table-striped">
		    <tr>

		    	{% if session_language = 'en' %}
		    	<td>img</td>
		    	<!--th>Typology</th-->
		        <th>Shop</th>
		        <th>Quantity</th>
		        <th>Price</th>
		        <th>Total Price</th>
		        <th></th>

		    	{% else %}
		    	<td>img</td>
		    	<!--th>Tipologia</th-->
		        <th>Negozio</th>
		        <th>Quantita</th>
		        <th>Prezzo Unitario</th>
		        <th>Prezzo Totale</th>
		        <!--th>Totale Ivato</th-->
		        <th></th>
		        {% endif %}
		    </tr>
		    {% for item in cart.items %}
		    <tr>
		    	{% if session_language = 'en' %}
		    	<td><img src="/media/{{item.product.image}}" style="width:200px;"></td>
		    	<!--td>{{ item.product.category.first.title_uk }}</td-->
		        <td>{{ item.product.name_uk }}</td>
		        <td>{{ item.quantity }}</td>
		        <td>{{ item.product.price_vendita}}</td>
		        <td>{{ item.subtotal }}</td>
		        <th><a href="{% url 'remove-cart' item.product.id %}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a></th>

		    	{% else %}
		    	<td><img src="/media/{{item.product.image}}" style="width:200px;"></td>
		    	<!--td>{{ item.product.category.first.title }}</td-->
		        <td>{{ item.product.name }}</td>
		        <td>{{ item.quantity }}</td>
		        <td>{{ item.product.price_vendita}}</td>
		        <td>{{ item.subtotal }}</td>
		        <!--td>{{ item.product.ivato }}</td-->
		        <th><a href="{% url 'remove-cart' item.product.id %}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a></th>
		        {% endif %}
		    </tr>
		    {% endfor %}
	    </table>

	    <!--span style="text-align: right">
	    <h3>Total: {{ cart.total }}</h3>
		</span-->
	</div>

	<div class="col-xs-12" style="text-align: center">
			<a href="{% url 'order-inizio' %}" class="btn btn-ordina">
				{% if session_language = 'en' %}
					ORDER
					{% else %}
					COMPLETA L'ORDINE
					{% endif %}
			</a>
	</div>

</form>

</div>

{% endblock %}
