{% extends 'base.html' %}

{% block personalizzato %}
<style type="text/css">
.logo-footer {
	margin-left:110px;
}
</style>
{% endblock %}


{% block content %}


<div id="page-content-wrapper" style="padding-right:0px;">

	{% include 'components/avvisi.html' %}

		<div class="container-fluid">
			<div class="row">


				<section id="contenuto">

					{% include 'components/swiper_dettaglio.html' %}

					<div class="col-xs-12 col-sm-8" style="padding-left:20px; padding-top:10px;">
	                	<h1 style="padding-left:20px;">
	                		{% if session_language = 'en' %}
	                			{{product.name_uk}}
	                		{% else %}
	                			{{product.name}}
	                		{% endif %}
	                	</h1>
	                	<p style="text-align: justify; font-size: 10pt; padding-left: 20px;">
	                		{% if session_language = 'en' %}
	                			{{product.descrizione_uk|safe}}
	                		{% else %}
	                			{{product.descrizione|safe}}
	                		{% endif %}
	                	</p>
	                	<div class="col-xs-12"><hr></div>

	                	<div class="col-xs-12">
	                		{% if product.video %}
	                		{% for v in product.video.all %}
	                		<div class="embed-responsive embed-responsive-16by9">
  								<iframe width="560" height="315" src="https://www.youtube.com/embed/{{v.code}}?rel=0" frameborder="0" allowfullscreen></iframe>
							</div>
							{% endfor %}
							{% endif %}
	                	</div>


	                	<div class="col-xs-12"><hr></div>

	                	<!-- colore -->
	                	<div class="col-xs-12">
	                		<h3>
	                			{% if session_language = 'en' %}
	                			COLOR FINISHES
	                			{% else %}
	                			COLORE FINITURA
	                			{% endif %}
	                		</h3>
	                	</div>
	            		<div class="col-xs-12 col-sm-3">{% load cropping %}
	            			<img src="{% cropped_thumbnail product.color.first "thumb" %}" class="img-responsive img-colore">
	            		</div>
	            		<div class="col-xs-12 col-sm-7"><h3 class="txt-color-dettaglio">{{product.color.first.name}}</h3></div>
	            		<!-- end colore -->

	                	<section id="moduli">
	                		{% include 'components/moduli.html' %}
	                	</section>
	                </div>


	                <div class="col-xs-12 col-sm-4 price-column" style="padding-left:20px; padding-top:60px; text-align: right;">
	                	<a class="btn baloon-price">
	                		<!--{{product.price}}-->{{product.price}} €
	                		<span style="font-size: 12pt;"><br>
	                			{% if session_language = 'en' %}{% else %}(IVA esclusa){% endif %}
	                		</span>
	                	</a>

	                	<a class="btn baloon-mq">70mq.</a><br>

	                	<!--a class="btn baloon-trasporto">
	                		{% if session_language = 'en' %}
	                		<span style="color:#dfdb00">EURO-ZONE</span><BR>
	                		SHIPPING<br>
	                		<span style="color: #dfdb00">INCLUDED<br>
	                		IN PRICE<br></span>
	                		{% else %}
	                		<span style="color:#dfdb00">EURO-ZONA</span><BR>
	                		TRASPORTO<br>
	                		<span style="color: #dfdb00">COMPRESO<br>
	                		NEL PREZZO<br></span>
	                		{% endif %}
	                		<span style="font-size: 11px; font-weight:light; line-height: 0.5;">

	                		</span>
	                	</a-->
	                	<br>
	                	<a class="btn baloon-trasporto" style="text-align:center">
	                		{% if session_language = 'en' %}
	                		<span style="color:#dfdb00;">DELIVERY<br>
							IN 40 day.<br></span>
							<span style="font-size: 12pt;">FROM PAYMENT<br>
							RECEIVED</span>

	                		{% else %}
							<span style="color:#dfdb00;">CONSEGNA<br>
							ENTRO 40gg.<br></span>
							<span style="font-size: 12pt;">DA RICEZIONE<br>
							PAGAMENTO</span>
							{% endif %}
	                	</a><br>

	                	<button class="btn btn-add-cart" data-toggle="modal" data-target=".pagina-preventivo"><!--i class="fa fa-cart-plus" aria-hidden="true"></i-->
	                		{% if session_language = 'en' %}
	                			REQUEST ESTIMATE <br><br>INCLUDED SHIPPING COST
	                		{% else %}
	                			RICHIEDI PREVENTIVO<br><br>
												COMPRENSIVO DI TRASPORTO
	                		{% endif %}
	                	</button>

	                	<section id="rx-dettaglio">
	                		{% if session_language = 'en' %}
	                		<a href="" data-toggle="modal" data-target=".pagina4"><H3>TERMS<BR>OF SALE</h3></a>
	                		<!--a href="" data-toggle="modal" data-target=".pagina8"><h3>SHIPPING FEES</h3></a-->
	                		<a href="" data-toggle="modal" data-target=".pagina9"><h3>PAYMENT MODE</h3></a>
	                		<a href="" data-toggle="modal" data-target=".pagina5"> <H3>HIRE PURCHASE</H3></a>
	                		<a href="" data-toggle="modal" data-target=".pagina-richiesta">
	                			<H3>CUSTUMIZED<br>SHOP DESIGN</h3>
	                		</a>

	                		{% else %}
	                		<a href="" data-toggle="modal" data-target=".pagina4"><H3>CONDIZIONI<BR>DI VENDITA'</h3></a>
	                		<!--a href="" data-toggle="modal" data-target=".pagina8"><h3>SPESE DI SPEDIZIONE</h3></a-->
	                		<a href="" data-toggle="modal" data-target=".pagina9"><h3>MODALITA' DI PAGAMENTO</h3></a>
	                		<a href="" data-toggle="modal" data-target=".pagina5"> <H3>PAGAMENTO DILAZIONATO</H3></a>
	                		<a href="" data-toggle="modal" data-target=".pagina-richiesta">
	                			<H3>PERSONALIZZAZIONE<br>DESIGN NEGOZIO</h3>
	                		</a>
	                		{% endif %}
	                	</div>

					</div>

				</section>



			</div><!-- row -->
		</div><!-- container fluid -->

</div><!-- page wrapper -->



<div class="modal fade bs-example-modal-lg pagina-preventivo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="padding-left:20px; padding-right:20px;">
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="text-align: center">
            <span style="border-bottom-width:3px;border-bottom-style:solid; border-color:#dfdb00; padding-bottom:5px;">
              {% if session_language = 'en' %}
                requiest estimate included shipping cost for: {{product.name_uk}}
              {% else %}
                richiedi preventivo comprensivo di costi di spedizione per: {{product.name}}
              {% endif %}
            </span>
          </h4>

					<form class="white-row" action="{% url 'preventivo' %}" method="POST">{% csrf_token %}

						<input type="hidden" name="product_id" value="{{product.id}}">
						<input type="hidden" name="quantity" value="1">
						<!--input type="hidden" name="price" value="{{product.price}}"-->
						<div class="col-xs-12">
							<label>Denominazione/your name or Company*:</label>
							<input type="text" name="t_denominazione" value="{{user.denominazione}}" class="form-control" required>
						</div>
						<div class="col-xs-6">
							<label>Tel:</label>
							<input type="text" name="t_tel" value="{{user.tel}}" class="form-control">
						</div>
						<div class="col-xs-6">
							<label>Email*:</label>
							<input type="text" name="t_email" value="{{user.email}}" class="form-control" required>
						</div>
						<div class="col-xs-12">
							<label>Indirizzo/Address*:</label>
							<input type="text" name="t_indirizzo" value="{{user.indirizzo}}" class="form-control" required>
						</div>
						<div class="col-xs-2">
							<label>Cap/Zip*:</label>
							<input type="text" name="t_cap" value="{{user.cap}}" class="form-control" required>
						</div>
						<div class="col-xs-5">
							<label>Citta/City*:</label>
							<input type="text" name="t_citta" value="{{user.citta}}" class="form-control" required>
						</div>
						<div class="col-xs-5">
							<label>Nazione/Nation*:</label>
							<input type="text" name="t_nazione" value="{{user.nazione}}" class="form-control" required>
						</div>
						<div class="col-xs-12">
							<label>Oggetto/Subject:</label>
							<input type="text" name="t_oggetto" value="Preventivo per {{product.name}}" class="form-control">
						</div>
						<div class="col-xs-12">
							<label>Note:</label>
							<textarea name="t_note" class="form-control" ></textarea>
						</div>
						<div class="col-xs-12">
							<p>
								* {% if session_language = 'en' %}required fields{% else %}campi obbligatori{% endif %}
							</p>
						</div>
						<div class="col-xs-12 text-center">
							<button type="submit" class="btn btn-add-cart">
								{% if session_language = 'en' %}
									SEND REQUEST
								{% else %}
									INVIA RICHIESTA
								{% endif %}
							</button>
						</div>
					</form>
      </div>

    </div>
  </div>
</div>


{% include 'components/modal_pagine.html' %}

{% include 'components/modal_richiesta.html' %}

{% endblock %}


{% block footerjs %}

{% endblock %}
