{% extends 'base.html' %}


{% block content %}

<div class="container" style="padding-top:150px;padding-bottom:150px;">
  <div class="col-xs-12">
  <h4>Riepilogo ordine: </h4>
  <p><strong>Prezzo:</strong> €.{{order.tot_price}}</p>
  <p><strong>Costo Spedizione:</strong> €.{{order.totale_spedizione}}</p>
  <p><strong>Iva:</strong>: €. {{order.iva}}
  <p><strong>Totale:</strong> €. {{order.ivato}} (iva inclusa)</p>
  <p><hr></p>
  <h4 style="background-color: #dfdb00; padding-left:15px;">
      <br>
      L'ordine sarà confermato alla ricezione del pagamento da effettuare alle seguenti coordinate bancarie:<br>
      <br>
      Credito Bergamasco:<br>
			Beneficiary: GLOCAL s.r.l. <br>
			SWIFT/BIC: BAPPIT21AM9<br>
			IBAN: IT13G0503453760000000000681<br>
      Causale: Ordine N. {{order.id}}
      <br>&nbsp;
      <br>
      Totale: €. {{order.ivato}} (Iva inclusa)
      <br>
      <br>&nbsp;
    </h4>

<div class="col-sm-5"></div>

<div class="col-sm-2">

</div>
<div class="col-sm-5"></div>
</div>
</div>
{% endblock %}
