<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ORDINE</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>

  <style type="text/css">
#footer a,
#footer a:link {
	color: #ffffff;
}
  </style>
    <body>





<div class="container" style="background-color: #ffffff; width:800px;">
	<div class="col-xs-12" style="background-color:#000000; height:40px;"><br></div>
	<br>
	<br>
	<br>
	<span style="text-align: center; margin-top: 30px; margin-bottom:30px;"><img src="http://www.myshopfurniture.com/static/img/logo.png" style="width: 400px;"></span>
	<br>
	<br>

	<div class="col-xs-12" style="margin-left:0px; padding-left:0px;">
		<div class="col-xs-8" style="margin-left:0px; padding-left:0px;">
			{% if session_language = 'en' %}
			<h5 style="background-color: #d9d9d9; padding:5px;">Request effectuated: {{ordine.pub_date}}</h5>
			<h5 style="background-color: #d9d9d9; padding:5px;">ID order: {{ordine.id}}</h5>

			{% else %}
			<h5 style="background-color: #d9d9d9; padding:5px;">Richiesta effettuata in data: {{ordine.pub_date}}</h5>
			<h5 style="background-color: #d9d9d9; padding:5px;">ID ordine: {{ordine.id}}</h5>
			{% endif %}

			<!--h5 style="background-color: #d9d9d9; padding:5px;">da: {{ordine.user.username}}</h5-->
		</div>
		<div class="col-xs-4"></div>
	</div>

	<div class="col-xs-6" style="margin-left:0px; padding-left:0px;">
		<p style="padding-left:0px; text-align: left">
			{% if consegna %}
			<br>
			<br>
			<strong>{% if session_language = 'en' %}Delivery Address{% else %}Indirizzo Consegna:{% endif %}</strong><br>
			{{consegna.first.spedizione_denominazione}}<br>
			{{consegna.first.spedizione_indirizzo}}<br>
			{{consegna.first.spedizione_cap}} - {{consegna.first.spedizione_citta}}<br>
			Tel. {{consegna.spedizione_telefono}}<br>
			email. {{fatturazione.user.email}}<br>
			<br>
			{% endif %}
		</p>
	</div>

	<div class="col-xs-6">
		<p style="text-align: right">
			<br>
			<br>
			<strong>{% if session_language = 'en' %}Customer Data{% else %}Dati Cliente:{% endif %}</strong><br>
			{{fatturazione.denominazione}}<br>
			{{fatturazione.indirizzo}}<br>
			{{fatturazione.cap}} - {{fatturazione.citta}}<br>
			Tel. {{fatturazione.telefono}}<br>
			email. {{fatturazione.user.email}}<br>
			<br>
		</p>
	</div>

	<div class="col-xs-12" style="padding-left:0px; padding-right:0px;">
		<h5 style="background-color: #dfdb00; padding-left:15px;">
			<br>
			{% if session_language = 'en' %}
			The order will be confirmed upon receipt of payment to be made to the following account:<br>
			<br>
			Credito Bergamasco:<br>
			Beneficiary: GLOCAL s.r.l. <br>
			SWIFT/BIC: BAPPIT21AM9<br>
			IBAN: IT13G0503453760000000000681<br>
			Causale: Ordine N. {{ordine.id}}
			<br>&nbsp;
			<br>
			Totale: €. {{ordine.ivato}} (Iva inclusa)

			{% else %}
			L'ordine sarà confermato alla ricezione del pagamento da effettuare alle seguenti coordinate bancarie:<br>
			<br>
			Credito Bergamasco:<br>
			Beneficiario: GLOCAL s.r.l. <br>
			SWIFT/BIC: BAPPIT21AM9<br>
			IBAN: IT13G0503453760000000000681<br>
			Causale: Ordine N. {{ordine.id}}
			<br>&nbsp;
			<br>
			Totale: €. {{ordine.ivato}} (Iva inclusa)
			{% endif %}
			<br>
			<br>&nbsp;
		</h5>
	</div>


	<table class="table table-striped">
	  <tr>
	      <th>img</th>
	      <th>Modulo</th>
	      <th>Quantità</th>
	  </tr>

    {% for mod in ordine.orderitem_set.all %}
	  <tr>
	    <td>
	      {% load cropping %}
	      <img src="http://sviluppo.myshopfurniture.com/media/{{mod.moduli.image}}" style="width:200" width="200">
	    </td>
	    <td>
	    	{% if session_language = 'en' %}
	    	<strong>{{mod.name_uk}}</strong><br><br>
	    	<strong>Size:</strong><br>
			{% if mod.moduli.width %}<strong>Width:</strong> {{mod.moduli.width}} | {% endif %}
			{% if mod.moduli.depth %}<strong>depth:</strong> {{mod.moduli.depth}} | {% endif %}
			{% if mod.moduli.height %}<strong>Height:</strong> {{mod.moduli.height}} | {% endif %}

	    	{% else %}
	    	<strong>{{mod.name}}</strong><br><br>
	    	<strong>Dimensioni:</strong><br>
			{% if mod.moduli.width %}<strong>Larghezza:</strong> {{mod.moduli.width}} | {% endif %}
			{% if mod.moduli.depth %}<strong>Profondità:</strong> {{mod.moduli.depth}} | {% endif %}
			{% if mod.moduli.height %}<strong>Altezza:</strong> {{mod.moduli.height}} | {% endif %}
			{% endif %}
	    </td>
	    <td>{{mod.quantity}}</td>
	  </tr>
	{% endfor %}
	</table>
<br>
<br>
<br>
<br>

<div id="footer" class="col-xs-12" style="background-color:#000000;padding-top:20px;padding-bottom:50px;">
	<div class="col-xs-4">
		<img src="http://www.myshopfurniture.com/static/img/logo_bianco.png" class="img-responsive">
	</div>
	<div class="col-xs-8">
		<p style="color:#ffffff; float:right;">
			myshopfurmiture.com
		</p>
	</div>
</div>
</div>

    </body>
</html>
