
{% extends 'base_demo.html' %}



{% block content %}

<!-- Page Content -->
<div id="page-content-wrapper" style="padding-right:0px;">
	<div class="container-fluid" style="padding-right:0px;">
    	<div class="row">

    		{% include 'components/avvisi.html' %}

    		{% include 'components/tab-video.html' %}

            <div class="col-xs-12" style="background-color: #d1d3d3; margin:0px;padding:0px;">
            <div class="col-xs-12 col-sm-1" style=""></div>

            <div class="col-xs-12 col-sm-10" style="padding-left:0px;margin-left:0px;">
                {% include 'components/slider_demo.html' %}
            </div>
             <div class="col-xs-12 col-sm-1" style=""></div>
            </div>

    		<div id="immagini" class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="background-color: #ffffff; margin-top:20px;">
    			<div class="col-xs-12">{% include 'components/negozi_home_demo.html' %}</div>
    		</div>

				<div class="col-xs-12" style="background-color: #dfdb00;">
						{% include 'components/modelli-list_demo.html' %}
				</div>

            <div class="col-xs-12 col-sm-6" style="margin-bottom:20px;padding-right:30px;margin-top:10px;">
                {% for m in moduli_list %}
                <div class="col-xs-12 col-sm-4 imgWrap-due" style="margin-top:10px;padding-left:0px;padding-right:10px;">
                    <a href="{% url 'modulo' session_language m.id %}">
                        <img src="/media/{{m.image}}" class="img-responsive" style="border-radius: 10px; padding:0px;">
                        <p class="imgDescription-due"><br><br><br>{{m.name}}</p>
                    </a>
                </div>
                {% endfor %}
            </div>


            <div class="col-xs-12" style="background-color: #dfdb00;">
                {% include 'components/video-list_demo.html' %}
            </div>

		</div><!-- row -->
	</div><!-- container fluid -->
</div><!-- page-content-wrapper-->

{% endblock %}
