
{% extends 'base_demo.html' %}



{% block content %}

<!-- Page Content -->
<div id="page-content-wrapper" style="padding-right:0px;">
	<div class="container-fluid" style="padding-right:0px;">
    	<div class="row" style="padding-right:0px;margin-right:0px;">

    		{% include 'components/avvisi.html' %}

    		{% include 'components/tab-video.html' %}

            <div class="col-xs-12" style="background-color: #d1d3d3; margin:0px;padding:0px;padding-right:0px;padding-left:0px;">
            <!--div class="col-xs-12 col-sm-1" style=""></div-->

            <div class="hidden-xs hidden-sm hidden-md col-lg-12" style="padding-left:0px;margin-left:0px;padding-right:0px;">
                {% include 'components/swiper_slider.html' %}
            </div>
             <!--div class="col-xs-12 col-sm-1" style=""></div-->
            </div>


            <div id="immagini" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color: #ffffff; margin-top:0px;padding-top:20px;">
                {% include 'components/negozi_home_demo.html' %}
            </div>




            <div class="hidden-xs hidden-sm hidden-md col-lg-12" style="margin-bottom:20px;padding-right:30px;margin-top:10px;">
                {% for m in moduli_list %}
                <div class="col-xs-12 col-sm-3 col-lg-2 imgWrap-due" style="margin-top:10px;padding-left:0px;padding-right:5px;">
                    <a href="{% url 'modulo' session_language m.id %}">{% load cropping %}
                        <img src="{% cropped_thumbnail m 'thumb_moduli' %}" class="img-responsive" style="border-radius: 10px; padding:0px;" title="{{m.name}}" alt="{{m.name}}"">
                        <p class="hidden-xs hidden-sm hidden-md imgDescription-due"><br><br><br>{% if session_language = 'en' %}{{m.name_uk}}{% else %}{{m.name}}{% endif %}</p>
                    </a>
                </div>
                {% endfor %}
            </div>


            <div class="hidden-xs hidden-sm hidden-md col-lg-12" style="background-color: #dfdb00;">
                {% include 'components/video-list_demo.html' %}
            </div>

		</div><!-- row -->
	</div><!-- container fluid -->
</div><!-- page-content-wrapper-->

{% endblock %}
