{% extends 'base.html' %}

{% block content %}


<div class="col-xs-12 col-sm-12" style="margin-top:100px;background-color:#d1d3d3">
	<div class="hidden-xs hidden-sm hidden-md col-lg-12" style="margin-top:30px;margin-bottom:30px;">
                {% for m in moduli_list %}
                <div class="col-xs-12 col-sm-2 imgWrap-due" style="margin-top:10px;padding-left:0px;padding-right:5px;">
                    <a href="{% url 'modulo' session_language m.id %}">{% load cropping %}
                        <img src="{% cropped_thumbnail m 'thumb_moduli' %}" class="img-responsive" style="border-radius: 10px; padding:0px;">
                        <p class="imgDescription-due"><br><br><br>{% if session_language = 'en' %}{{m.name_uk}}{% else %}{{m.name}}{% endif %}</p>
                    </a>
                </div>
                {% endfor %}
            </div>


						<div class="col-xs-12 col-sm-12 col-md-12 hidden-lg" style="margin-bottom:20px;padding-right:30px;margin-top:10px;">
                {% for m in moduli_color_list %}
                <div class="col-xs-12 col-sm-3 col-lg-2 imgWrap-due" style="margin-top:10px;padding-left:0px;padding-right:5px;">
                    <a href="{% url 'modulo' session_language m.id %}">{% load cropping %}
                        <img src="{% cropped_thumbnail m 'thumb_moduli' %}" class="img-responsive" style="border-radius: 10px; padding:0px;">
                    </a>
                </div>
                {% endfor %}
            </div>
</div>




{% endblock %}
