{% extends 'base.html' %}

{% block personalizzato %}
{% load staticfiles %}
<style type="text/css">
.logo-footer {
	margin-left:110px;
}

a,
a:link,
a:hover,
a:visited {
	color: #333333;
}

.price-column {
	background-image: url({% static 'img/grey.png' %});
	background-repeat: no-repeat;
	background-repeat: repeat-y;
	background-position: center;
	bottom: 0px;
	margin-bottom: 0px;
	height: 12800px;
}
@media screen and (max-width: 768px) {
	#btn-ord {
		float: left;
		font-size: 11pt;
	}
}

</style>
{% endblock %}


{% block content %}


<div id="page-content-wrapper" style="padding-right:0px;">

	{% include 'components/avvisi.html' %}

	<form class="white-row" action="{% url 'add-to-cart' %}" method="GET">{% csrf_token %}

		<input type="hidden" name="product_id" value="{{modulo.id}}">
		<input type="hidden" name="quantity" value="1">
		<!--input type="hidden" name="price" value="{{product.price}}"-->

		<div class="container-fluid">
			<div class="row">


				<section id="contenuto">


					<div class="col-xs-12 col-sm-8" style="padding-left:20px; padding-top:10px;">
	                	<h3 style="padding-left:20px;font-family: 'Fjalla One', sans-serif">
	                		{% if session_language = 'en' %}
	                			{{modulo.name_uk}}
	                		{% else %}
	                			{{modulo.name}}
	                		{% endif %}
	                	</h3>
	                	<div class="col-xs-12"><hr></div>
	                	<div class="col-xs-12 col-sm-7">
	                		<img src="/media/{{modulo.image}}" class="img-responsive" style="border-radius:10px;">
	                		<br>
	                		<p>
	                		<a href="/media/{{modulo.allegato}}" target="_blank">
	                			<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
												{% if session_language = 'en' %}
													See Technical Sheet
												{% else %}
													Vedi Scheda Tecnica
												{% endif %}
	                		</a></è>
	                		<br>
	                		<br>
	                		<span style="padding:1px; background-color:#dfdb00">
	                		<i class="fa fa-square" aria-hidden="true"></i>
											{% if session_language = 'en' %}
												Delivery within 20 days. (Business Days)<br>
												&nbsp;&nbsp;&nbsp;&nbsp;from receiving payment
											{% else %}
												Consegna entro 20gg. (giorni lavorativi)<br>
		                		&nbsp;&nbsp;&nbsp;&nbsp;da ricezione pagamento
											{% endif %}
	                		</span>
	                		</p>
	                	</div>
	                	<div id="dati-moduli" class="col-xs-12 col-sm-5">
											{% if session_language = 'en' %}
											<p><strong>Width:</strong> {{modulo.width}} cm.</p>
											<p><hr></p>
											<p><strong>Depth:</strong> {{modulo.depth}} cm.</p>
											<p><hr></p>
											<p><strong>Height:</strong> {{modulo.height}} cm.</p>
											<p><hr></p>
											<p><strong>Weight:</strong> {{modulo.weight}} kg.</p>
											<p><hr></p>
											<p><strong>Volume:</strong> {{modulo.volume}} m3</p>
											<p><hr></p>
											<p>
												<strong>Finishes:</strong><br>
												{% for col in colori_list %} {% load cropping %}
													{% if col.id == modulo.color.first.id %}
													<img src="{% cropped_thumbnail col "thumb" %}" class="img-colori" style="width:50px;padding-left:15px;padding-top:10px;">
													{% endif %}
												{% endfor %}
											</p>
											<p><hr></p>
												<span style="float:left;padding-top:5px;padding-right:10px;">Quantity:</span> <input type="number" name="quantity" value="1" min="1" step="1" class="form-control" style="width:100px;float:left;"><br><br>
											<p><hr></p>
											<h3>€. {{modulo.price_vendita}}</h3>
											<p>
												<button id="btn-ord" class="btn btn-ordina">ADD TO CART</button>
											</p>
											<p>

											</p>

											{% else %}
	                		<p><strong>Lunghezza:</strong> {{modulo.width}} cm.</p>
	                		<p><hr></p>
	                		<p><strong>Larghezza:</strong> {{modulo.depth}} cm.</p>
	                		<p><hr></p>
	                		<p><strong>Altezza:</strong> {{modulo.height}} cm.</p>
	                		<p><hr></p>
	                		<p><strong>Peso:</strong> {{modulo.weight}} kg.</p>
	                		<p><hr></p>
	                		<p><strong>Volume:</strong> {{modulo.volume}} m3</p>
	                		<p><hr></p>
	                		<p>
	                			<strong>Finiture:</strong><br>
	                			{% for col in colori_list %} {% load cropping %}
													{% if col.id == modulo.color.first.id %}
	                				<img src="{% cropped_thumbnail col "thumb" %}" class="img-colori" style="width:50px;padding-left:15px;padding-top:10px;">
													{% endif %}
												{% endfor %}
	                		</p>
	                		<p><hr></p>
	                			<span style="float:left;padding-top:5px;padding-right:10px;">Quantità:</span> <input type="number" name="quantity" value="1" min="1" step="1" class="form-control" style="width:100px;float:left;"><br><br>
	                		<p><hr></p>
	                		<h3>€. {{modulo.price_vendita}}</h3>
	                		<p>
	                			<button id="btn-ord" class="btn btn-ordina">AGGIUNGI AL CARRELLO</button>
	                		</p>
	                		<p>

	                		</p>
											{% endif %}
	                	</div>


							<div class="hidden-xs hidden-sm hidden-md col-lg-12">
								<div class=""><hr></div>
								<div class="">
									<h3 style="font-family: 'Fjalla One', sans-serif">
										{% if session_language = 'en' %}
											Related Product
										{% else %}
											Prodotti Correlati
										{% endif %}
									</h3>
								</div>
								{% for m in moduli_list %}
							    <div class="col-xs-12 col-sm-4 imgWrap-due" style="margin-top:10px;padding-left:0px;padding-right:10px;">
							    	<a href="{% url 'modulo' session_language m.id %}">
							        	<img src="/media/{{m.image}}" class="img-responsive" style="border-radius: 10px; padding:0px;">
							            <p class="imgDescription-due"><br><br><br>{% if session_language = 'en' %}{{m.name_uk}}{% else %}{{m.name}}{% endif %}</p>
							        </a>
							    </div>
							    {% endfor %}
							</div>

	                </div><!-- fine colonna centrale -->


	                <div class="col-xs-12 col-sm-4 price-column" style="padding-left:20px; padding-top:60px; text-align: right;">
	                	<!--a class="btn baloon-price">
	                		{{modulo.price}} €
	                		<span style="font-size: 12pt;"><br>
	                			{% if session_language = 'en' %}{% else %}(IVA esclusa){% endif %}
	                		</span>
	                	</a-->

	                	<!--a class="btn baloon-mq">70mq.</a><br-->

	                	<!--a class="btn baloon-trasporto">
	                		{% if session_language = 'en' %}
	                		<span style="color:#dfdb00">EURO-ZONE</span><BR>
	                		SHIPPING<br>
	                		<span style="color: #dfdb00">INCLUDED<br>
	                		IN PRICE<br></span>
	                		{% else %}
	                		<span style="color:#dfdb00">EURO-ZONA</span><BR>
	                		TRASPORTO<br>
	                		<span style="color: #dfdb00">COMPRESO<br>
	                		NEL PREZZO<br></span>
	                		{% endif %}
	                		<span style="font-size: 11px; font-weight:light; line-height: 0.5;">

	                		</span>
	                	</a-->
	                	<br>
	                	<a class="btn baloon-trasporto" style="text-align:center">
	                		{% if session_language = 'en' %}
	                		<span style="color:#dfdb00;">DELIVERY<br>
							IN 20 day.<br></span>
							<span style="font-size: 12pt;">FROM PAYMENT<br>
							RECEIVED</span>

	                		{% else %}
							<span style="color:#dfdb00;line-heght:1">CONSEGNA<br>
							ENTRO 20gg.<br>
							</span>
							<span style="color:#dfdb00;font-size:12pt;">(LAVORATIVI)<br></span>
							<span style="font-size: 12pt;">DA RICEZIONE<br>
							PAGAMENTO</span>
							{% endif %}
	                	</a><br>

	                	<button class="btn btn-add-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i>
	                		{% if session_language = 'en' %}
	                			ADD TO CART
	                		{% else %}
	                			AGGIUNGI AL CARRELLO
	                		{% endif %}
	                	</button>

	                	<section id="rx-dettaglio">
	                		{% if session_language = 'en' %}
	                		<a href="" data-toggle="modal" data-target=".pagina4"><H3>TERMS<BR>OF SALE</h3></a>
	                		<!--a href="" data-toggle="modal" data-target=".pagina8"><h3>SHIPPING FEES</h3></a-->
	                		<a href="" data-toggle="modal" data-target=".pagina9"><h3>PAYMENT MODE</h3></a>
	                		<a href="" data-toggle="modal" data-target=".pagina5"> <H3>HIRE PURCHASE</H3></a>
	                		<a href="" data-toggle="modal" data-target=".pagina-richiesta">
	                			<H3>CUSTUMIZED<br>SHOP DESIGN</h3>
	                		</a>

	                		{% else %}
	                		<a href="" data-toggle="modal" data-target=".pagina4"><H3>CONDIZIONI<BR>DI VENDITA'</h3></a>
	                		<!--a href="" data-toggle="modal" data-target=".pagina8"><h3>SPESE DI SPEDIZIONE</h3></a-->
	                		<a href="" data-toggle="modal" data-target=".pagina9"><h3>MODALITA' DI PAGAMENTO</h3></a>
	                		<a href="" data-toggle="modal" data-target=".pagina5"> <H3>PAGAMENTO DILAZIONATO</H3></a>
	                		<a href="" data-toggle="modal" data-target=".pagina-richiesta">
	                			<H3>PERSONALIZZAZIONE<br>DESIGN NEGOZIO</h3>
	                		</a>
	                		{% endif %}
	                	</div>

					</div>

				</section>



			</div><!-- row -->
		</div><!-- container fluid -->


	</form>
</div><!-- page wrapper -->

{% include 'components/modal_pagine.html' %}

{% include 'components/modal_richiesta.html' %}

{% endblock %}


{% block footerjs %}

{% endblock %}
