{% extends 'base.html' %}


{% block content %}

{% load staticfiles %}
<div class="container" style="padding-top:150px;padding-bottom:150px;">

<div class="col-sm-4"></div>
    <div class="col-sm-4">
      <!--h1 class="">PAGA CON<br>
        CARTA DI CREDITO<br>
        O PAYPAL:</h1-->
      <img src="{% static 'img/paypal-logo.jpg' %}" class="img-responsive">
      <p style="padding-left:10px;"><br><br><span style="font-size:15pt;">Riepilogo ordine:</span></p>
      <p style="padding-left:10px;"><strong> Id ordine:</strong> {{order.id}}</p>
      <p style="padding-left:10px;"><strong> Prezzo:</strong> €.{{order.tot_price}}</p>
      <p style="padding-left:10px;"><strong> Costo Spedizione:</strong> €.{{order.totale_spedizione}}</p>
      <p style="padding-left:10px;"><strong> Iva:</strong> €. {{order.iva}}
      <p style="padding-left:10px;"><strong>Totale:</strong> €. {{order.ivato}}</p>
      <p><hr></p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">

      <!-- Identify your business so that you can collect the payments. -->
      <input type="hidden" name="business" value="info@sebinoexpress.com">
      <!--input type="hidden" name="hosted_button_id" value="A4EV7XPLKHYW4">
      <!-- Specify a Buy Now button. -->
      <input type="hidden" name="cmd" value="_xclick">


      <!--input type="hidden" name="cmd" value="_s-xclick"-->


      <!-- Specify details about the item that buyers will purchase. -->
      <input type="hidden" name="item_name" value="Ordine id: {{order.id}}">
      <input type="hidden" name="amount" value="{{order.ivato}}">
      <input type="hidden" name="currency_code" value="EUR">

      <!-- Display the payment button. -->
      <input type="image" name="submit" border="0"
      src="{% static 'img/ACQUISTA.png' %}"
      alt="Buy Now" style="width:150px;">
      <img alt="" border="0" width="1" height="1"
      src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
    </form>
</div>
<div class="col-sm-4"></div>
</div>



{% endblock %}
