<table class="table table-striped">
  <tr>
      {% if session_language = 'en' %}
                  <!--th>Cod.</th -->
                  <th>Data:</th>
                  <th>Id Order</th>
                  <th>pay</th>
                  <th>work in progress</th>
                  <th>delivery</th>
                  <th>close</th>
                  <th>Order Detail</th>

      {% else %}
                <!--th>Cod.</th -->
                <th>Data:</th>
                <th>ID Ordine</th>
                <th>pagato</th>
                <th>in lavorazione</th>
                <th>spedito</th>
                <th>chiuso</th>
                <th>Vedi Ordine</th>
      {% endif %}
  </tr>

  {% for order in order_list %}
  <tr>
    <!-- td>{{order.code}}</td -->
    <td>{{order.pub_date}}</td>
    <td>{{order.id}}</td>

    <td>
      {% if order.pagato == True %}
        <span style="color: green"><i class="fa fa-circle" aria-hidden="true"></i></span>
      {% else %}
        <span style="color: red"><i class="fa fa-circle" aria-hidden="true"></i></span>
      {% endif%}
    </td>

    <td>
      {% if order.inlavorazione == True %}
        <span style="color: green"><i class="fa fa-circle" aria-hidden="true"></i></span>
      {% else %}
        <span style="color: red"><i class="fa fa-circle" aria-hidden="true"></i></span>
      {% endif%}
    </td>

    <td>
      {% if order.spedito == True %}
        <span style="color: green"><i class="fa fa-circle" aria-hidden="true"></i></span>
      {% else %}
        <span style="color: red"><i class="fa fa-circle" aria-hidden="true"></i></span>
      {% endif%}
    </td>

    <td>
      {% if order.chiuso == True %}
        <span style="color: green"><i class="fa fa-circle" aria-hidden="true"></i></span>
      {% else %}
        <span style="color: red"><i class="fa fa-circle" aria-hidden="true"></i></span>
      {% endif%}
    </td>

    <td>
      <a href="{% url 'order-detail' order.id %}">
          {% if session_language = 'en' %}
              Detail
          {% else %}
              Vedi Dettaglio
          {% endif %}
      </a>
    </td>
  </tr>
  {% endfor %}

</table>
