
{% for video in modelli_list %}
<div class="col-xs-12 col-sm-4" style="margin-bottom:20px;">
  <!-- 16:9 aspect ratio -->
  <div class="embed-responsive embed-responsive-16by9">
    {{video.frame|safe}}
  </div>
</div>
{% endfor %}
