
<style>{% load staticfiles %}
.swiper-slide {
    font-size: 10px;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}


.swiper-slide span {
    float: left;
    margin: 0;
    padding: 10px;
    width: 40%;
    color: #dedede;
    background: #222; /* browser che non supportano rgba */
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 60px;
    text-align: right;
    border-radius: 0 10px 10px 0;
}

.swiper-slide span strong {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    padding-bottom: 5px;
    text-align: right;
}

.swiper-button-prev {
  background-image: url({% static 'img/arrow-prev.png' %})
}

.swiper-button-next {
  background-image: url({% static 'img/arrow-next.png' %})
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #dfdb00;
}

</style>



<!-- Swiper -->{% load staticfiles %}
<div class="swiper-container">
    <div class="swiper-wrapper">
      {% for gallery in product.gallery.all %}
        <div class="swiper-slide">{% load cropping %}
            <img src="{% cropped_thumbnail gallery "slider" %}"  alt="{{slider.name}}" style="width:100%;">
        </div>
        {% endfor %}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<!-- Swiper JS -->
<script src="{% static 'swiper/dist/js/swiper.min.js' %}"></script>

<!-- Initialize Swiper -->
<script>
var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    slidesPerView: 1,
    paginationClickable: true,
    spaceBetween: 30,
    loop: true,
    autoplay: 5000,
    autoplayDisableOnInteraction: false,
    speed: 600
});
</script>
